body {
background-color: #f4f1ee;
color: 	#9C27B0;
font-family: 'poppins', sans-serif;

}
.right {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 40px;
}
.content-wrapper {
    max-width: 800px;
  }
h1 {
color: #2c3e50;

}
p {
color: #555555;
}
h1,p{
    text-align: left;
    margin: 20px,0;
} 